@model EmlakAppEntityLayer.Arsa
@{
    ViewBag.Title = "Arsa Düzenle";
}


<hr />
@using (Html.BeginForm("Düzenle", "Arsa", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.aciklama_, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.aciklama_, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.genislik, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.genislik, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.arsa_adres, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.arsa_adres, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Fiyat, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <a href="@Url.Action("Listele")" class="btn btn-default">İptal</a>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
}
