@model List<EmlakAppEntityLayer.Daire>
@{
    ViewBag.Title = "Listele";
}
<h2>Listele</h2>
<a href="@Url.Action("Ekle")" class="btn btn-primary">Ekle</a>
<br />
<br />
<table class="table">
    <tr>
        <th>Id</th>
        <th>Aciklama</th>
        <th>ODA SAY</th>
        <th>Fiyat</th>
        <th>Adres</th>
        
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.aciklama_</td>
            <td>@item.oda_sayi</td>
            <td>@item.Fiyat</td>
            <td>@item.daire_adres</td>
            <td>
                <a href="@Url.Action("Sil", new { id = item.Id })" class="btn btn-danger btn-xs">Sil</a>
                <a href="@Url.Action("Düzenle", new { id = item.Id })" class="btn btn-info btn-xs">Düzenle</a>

            </td>
        </tr>
    }
</table>